<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.CarouselMapper">

    <select id="getCarouselById" resultType="com.zy.entity.Carousel">
        select
                id as id,
                image_url as imageUrl,
                background_color as backgroundColor,
                item_id as itemId,
                cat_id as catId,
                type as type,
                sort as sort,
                is_show as isShow,
                create_time as createTime,
                update_time as updateTime
        from carousel
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getCarouselListByMap" resultType="com.zy.entity.Carousel" parameterType="java.util.Map">
        select
                id as id,
                image_url as imageUrl,
                background_color as backgroundColor,
                item_id as itemId,
                cat_id as catId,
                type as type,
                sort as sort,
                is_show as isShow,
                create_time as createTime,
                update_time as updateTime
        from carousel
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="imageUrl != null and imageUrl!=''">
                    and image_url=#{imageUrl}
                </if>
                <if test="backgroundColor != null and backgroundColor!=''">
                    and background_color=#{backgroundColor}
                </if>
                <if test="itemId != null and itemId!=''">
                    and item_id=#{itemId}
                </if>
                <if test="catId != null and catId!=''">
                    and cat_id=#{catId}
                </if>
                <if test="type != null and type!=''">
                    and type=#{type}
                </if>
                <if test="sort != null and sort!=''">
                    and sort=#{sort}
                </if>
                <if test="isShow != null and isShow!=''">
                    and is_show=#{isShow}
                </if>
                <if test="createTime != null and createTime!=''">
                    and create_time=#{createTime}
                </if>
                <if test="updateTime != null and updateTime!=''">
                    and update_time=#{updateTime}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getCarouselCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from carousel
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="imageUrl != null and imageUrl!=''">
                    and image_url=#{imageUrl}
                </if>
                <if test="backgroundColor != null and backgroundColor!=''">
                    and background_color=#{backgroundColor}
                </if>
                <if test="itemId != null and itemId!=''">
                    and item_id=#{itemId}
                </if>
                <if test="catId != null and catId!=''">
                    and cat_id=#{catId}
                </if>
                <if test="type != null and type!=''">
                    and type=#{type}
                </if>
                <if test="sort != null and sort!=''">
                    and sort=#{sort}
                </if>
                <if test="isShow != null and isShow!=''">
                    and is_show=#{isShow}
                </if>
                <if test="createTime != null and createTime!=''">
                    and create_time=#{createTime}
                </if>
                <if test="updateTime != null and updateTime!=''">
                    and update_time=#{updateTime}
                </if>
        </trim>
    </select>

    <insert id="insertCarousel" parameterType="com.zy.entity.Carousel">
        insert into carousel(
                        image_url,
                        background_color,
                        item_id,
                        cat_id,
                        type,
                        sort,
                        is_show,
                        create_time,
                        update_time)
        values(
                     #{imageUrl},
                     #{backgroundColor},
                     #{itemId},
                     #{catId},
                     #{type},
                     #{sort},
                     #{isShow},
                     #{createTime},
                    #{updateTime})
    </insert>

    <update id="updateCarousel" parameterType="com.zy.entity.Carousel">
        update carousel
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="imageUrl != null and imageUrl!=''">
                            image_url=#{imageUrl},
                        </if>
                        <if test="backgroundColor != null and backgroundColor!=''">
                            background_color=#{backgroundColor},
                        </if>
                        <if test="itemId != null and itemId!=''">
                            item_id=#{itemId},
                        </if>
                        <if test="catId != null and catId!=''">
                            cat_id=#{catId},
                        </if>
                        <if test="type != null and type!=''">
                            type=#{type},
                        </if>
                        <if test="sort != null and sort!=''">
                            sort=#{sort},
                        </if>
                        <if test="isShow != null and isShow!=''">
                            is_show=#{isShow},
                        </if>
                        <if test="createTime != null and createTime!=''">
                            create_time=#{createTime},
                        </if>
                        <if test="updateTime != null and updateTime!=''">
                            update_time=#{updateTime}
                        </if>
        </trim>
    </update>
</mapper>