<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.CategoryMapper">

    <select id="getCategoryById" resultType="com.zy.entity.Category">
        select
                id as id,
                name as name,
                type as type,
                father_id as fatherId,
                logo as logo,
                slogan as slogan,
                cat_image as catImage,
                bg_color as bgColor
        from category
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getCategoryListByMap" resultType="com.zy.entity.Category" parameterType="java.util.Map">
        select
                id as id,
                name as name,
                type as type,
                father_id as fatherId,
                logo as logo,
                slogan as slogan,
                cat_image as catImage,
                bg_color as bgColor
        from category
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="name != null and name!=''">
                    and name=#{name}
                </if>
                <if test="type != null and type!=''">
                    and type=#{type}
                </if>
                <if test="fatherId != null and fatherId!=''">
                    and father_id=#{fatherId}
                </if>
                <if test="logo != null and logo!=''">
                    and logo=#{logo}
                </if>
                <if test="slogan != null and slogan!=''">
                    and slogan=#{slogan}
                </if>
                <if test="catImage != null and catImage!=''">
                    and cat_image=#{catImage}
                </if>
                <if test="bgColor != null and bgColor!=''">
                    and bg_color=#{bgColor}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getCategoryCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from category
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="name != null and name!=''">
                    and name=#{name}
                </if>
                <if test="type != null and type!=''">
                    and type=#{type}
                </if>
                <if test="fatherId != null and fatherId!=''">
                    and father_id=#{fatherId}
                </if>
                <if test="logo != null and logo!=''">
                    and logo=#{logo}
                </if>
                <if test="slogan != null and slogan!=''">
                    and slogan=#{slogan}
                </if>
                <if test="catImage != null and catImage!=''">
                    and cat_image=#{catImage}
                </if>
                <if test="bgColor != null and bgColor!=''">
                    and bg_color=#{bgColor}
                </if>
        </trim>
    </select>

    <insert id="insertCategory" parameterType="com.zy.entity.Category">
        insert into category(
                        name,
                        type,
                        father_id,
                        logo,
                        slogan,
                        cat_image,
                        bg_color)
        values(
                     #{name},
                     #{type},
                     #{fatherId},
                     #{logo},
                     #{slogan},
                     #{catImage},
                    #{bgColor})
    </insert>

    <update id="updateCategory" parameterType="com.zy.entity.Category">
        update category
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="name != null and name!=''">
                            name=#{name},
                        </if>
                        <if test="type != null and type!=''">
                            type=#{type},
                        </if>
                        <if test="fatherId != null and fatherId!=''">
                            father_id=#{fatherId},
                        </if>
                        <if test="logo != null and logo!=''">
                            logo=#{logo},
                        </if>
                        <if test="slogan != null and slogan!=''">
                            slogan=#{slogan},
                        </if>
                        <if test="catImage != null and catImage!=''">
                            cat_image=#{catImage},
                        </if>
                        <if test="bgColor != null and bgColor!=''">
                            bg_color=#{bgColor}
                        </if>
        </trim>
    </update>
</mapper>