<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.ItemsCommentsMapper">

    <select id="getItemsCommentsById" resultType="com.zy.pojo.ItemsComments">
        select
        id as id,
        user_id as userId,
        item_id as itemId,
        item_name as itemName,
        item_spec_id as itemSpecId,
        sepc_name as sepcName,
        comment_level as commentLevel,
        content as content,
        created_time as createdTime,
        updated_time as updatedTime
        from items_comments
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getItemsCommentsListByMap" resultType="com.zy.pojo.ItemsComments" parameterType="java.util.Map">
        select
        id as id,
        user_id as userId,
        item_id as itemId,
        item_name as itemName,
        item_spec_id as itemSpecId,
        sepc_name as sepcName,
        comment_level as commentLevel,
        content as content,
        created_time as createdTime,
        updated_time as updatedTime
        from items_comments
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null and id!=''">
                and id=#{id}
            </if>
            <if test="userId != null and userId!=''">
                and user_id=#{userId}
            </if>
            <if test="itemId != null and itemId!=''">
                and item_id=#{itemId}
            </if>
            <if test="itemName != null and itemName!=''">
                and item_name=#{itemName}
            </if>
            <if test="itemSpecId != null and itemSpecId!=''">
                and item_spec_id=#{itemSpecId}
            </if>
            <if test="sepcName != null and sepcName!=''">
                and sepc_name=#{sepcName}
            </if>
            <if test="commentLevel != null and commentLevel!=''">
                and comment_level=#{commentLevel}
            </if>
            <if test="content != null and content!=''">
                and content=#{content}
            </if>
            <if test="createdTime != null and createdTime!=''">
                and created_time=#{createdTime}
            </if>
            <if test="updatedTime != null and updatedTime!=''">
                and updated_time=#{updatedTime}
            </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getItemsCommentsCountByMap" resultType="Integer" parameterType="java.util.Map">
        select count(*) from items_comments
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null and id!=''">
                and id=#{id}
            </if>
            <if test="userId != null and userId!=''">
                and user_id=#{userId}
            </if>
            <if test="itemId != null and itemId!=''">
                and item_id=#{itemId}
            </if>
            <if test="itemName != null and itemName!=''">
                and item_name=#{itemName}
            </if>
            <if test="itemSpecId != null and itemSpecId!=''">
                and item_spec_id=#{itemSpecId}
            </if>
            <if test="sepcName != null and sepcName!=''">
                and sepc_name=#{sepcName}
            </if>
            <if test="commentLevel != null and commentLevel!=''">
                and comment_level=#{commentLevel}
            </if>
            <if test="content != null and content!=''">
                and content=#{content}
            </if>
            <if test="createdTime != null and createdTime!=''">
                and created_time=#{createdTime}
            </if>
            <if test="updatedTime != null and updatedTime!=''">
                and updated_time=#{updatedTime}
            </if>
        </trim>
    </select>


    <select id="queryItemComments" resultType="com.zy.pojo.vo.ItemCommentVO" parameterType="java.util.Map">
        SELECT
        ic.comment_level as commentLevel ,
        ic.content as content,
        ic.sepc_name as sepcName,
        ic.created_time as createdTime,
        u.face as userFace,
        u.nickname as nickname
        FROM
        items_comments AS ic
        LEFT JOIN users AS u ON ic.user_id = u.id
        WHERE
        ic.item_id = #{itemId}
        <if test="commentLevel != null and commentLevel!=''">
            AND ic.comment_level = #{commentLevel}
        </if>
    </select>

    <resultMap id="myComments" type="com.zy.pojo.vo.MyCommentVO">
        <id column="commentId" property="commentId"/>
        <result column="content" property="content"/>
        <result column="createdTime" property="createdTime"/>
        <result column="itemId" property="itemId"/>
        <result column="itemName" property="itemName"/>
        <result column="sepcName" property="specName"/>
        <result column="itemImg" property="itemImg"/>
    </resultMap>
    <select id="queryMyComments" parameterType="java.util.Map" resultMap="myComments">
        SELECT ic.id           AS commentId,
               ic.content      AS content,
               ic.created_time AS createdTime,
               ic.item_id      AS itemId,
               ic.item_name    AS itemName,
               ic.sepc_name    AS sepcName,
               ii.url          AS itemImg
        FROM items_comments AS ic
                 LEFT JOIN
             items_img AS ii
             ON
                 ic.item_id = ii.item_id
        WHERE ic.user_id = #{userId}
          AND ii.is_main = 1
        ORDER BY ic.created_time
            DESC
    </select>


    <insert id="insertItemsComment" parameterType="com.zy.pojo.ItemsComments">
        insert into items_comments(user_id,
                                   item_id,
                                   item_name,
                                   item_spec_id,
                                   sepc_name,
                                   comment_level,
                                   content,
                                   created_time,
                                   updated_time)
        values (#{userId},
                #{itemId},
                #{itemName},
                #{itemSpecId},
                #{sepcName},
                #{commentLevel},
                #{content},
                #{createdTime},
                #{updatedTime})
    </insert>

    <insert id="insertItemsComments" parameterType="java.util.Map">
        insert into items_comments(
        id,
        user_id,
        item_id,
        item_name,
        item_spec_id,
        sepc_name,
        comment_level,
        content,
        created_time,
        updated_time)
        values
        <foreach collection="commentList" item="item" index="index" separator=",">
            (
            #{item.commentId},
            #{userId},
            #{item.itemId},
            #{item.itemName},
            #{item.itemSpecId},
            #{item.itemSpecName},
            #{item.commentLevel},
            #{item.content},
            now(),
            now())
        </foreach>

    </insert>


    <update id="updateItemsComments" parameterType="com.zy.pojo.ItemsComments">
        update items_comments
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="userId != null and userId!=''">
                user_id=#{userId},
            </if>
            <if test="itemId != null and itemId!=''">
                item_id=#{itemId},
            </if>
            <if test="itemName != null and itemName!=''">
                item_name=#{itemName},
            </if>
            <if test="itemSpecId != null and itemSpecId!=''">
                item_spec_id=#{itemSpecId},
            </if>
            <if test="sepcName != null and sepcName!=''">
                sepc_name=#{sepcName},
            </if>
            <if test="commentLevel != null and commentLevel!=''">
                comment_level=#{commentLevel},
            </if>
            <if test="content != null and content!=''">
                content=#{content},
            </if>
            <if test="createdTime != null and createdTime!=''">
                created_time=#{createdTime},
            </if>
            <if test="updatedTime != null and updatedTime!=''">
                updated_time=#{updatedTime}
            </if>
        </trim>
    </update>
</mapper>