<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.ItemsMapper">

    <select id="getItemsById" resultType="com.zy.pojo.Items">
        select
                id as id,
                item_name as itemName,
                cat_id as catId,
                root_cat_id as rootCatId,
                sell_counts as sellCounts,
                on_off_status as onOffStatus,
                content as content,
                created_time as createdTime,
                updated_time as updatedTime
        from items
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getItemsListByMap" resultType="com.zy.pojo.Items" parameterType="java.util.Map">
        select
                id as id,
                item_name as itemName,
                cat_id as catId,
                root_cat_id as rootCatId,
                sell_counts as sellCounts,
                on_off_status as onOffStatus,
                content as content,
                created_time as createdTime,
                updated_time as updatedTime
        from items
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="itemName != null and itemName!=''">
                    and item_name=#{itemName}
                </if>
                <if test="catId != null and catId!=''">
                    and cat_id=#{catId}
                </if>
                <if test="rootCatId != null and rootCatId!=''">
                    and root_cat_id=#{rootCatId}
                </if>
                <if test="sellCounts != null and sellCounts!=''">
                    and sell_counts=#{sellCounts}
                </if>
                <if test="onOffStatus != null and onOffStatus!=''">
                    and on_off_status=#{onOffStatus}
                </if>
                <if test="content != null and content!=''">
                    and content=#{content}
                </if>
                <if test="createdTime != null and createdTime!=''">
                    and created_time=#{createdTime}
                </if>
                <if test="updatedTime != null and updatedTime!=''">
                    and updated_time=#{updatedTime}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getItemsCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from items
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="itemName != null and itemName!=''">
                    and item_name=#{itemName}
                </if>
                <if test="catId != null and catId!=''">
                    and cat_id=#{catId}
                </if>
                <if test="rootCatId != null and rootCatId!=''">
                    and root_cat_id=#{rootCatId}
                </if>
                <if test="sellCounts != null and sellCounts!=''">
                    and sell_counts=#{sellCounts}
                </if>
                <if test="onOffStatus != null and onOffStatus!=''">
                    and on_off_status=#{onOffStatus}
                </if>
                <if test="content != null and content!=''">
                    and content=#{content}
                </if>
                <if test="createdTime != null and createdTime!=''">
                    and created_time=#{createdTime}
                </if>
                <if test="updatedTime != null and updatedTime!=''">
                    and updated_time=#{updatedTime}
                </if>
        </trim>
    </select>

    <select id="searchItems" resultType="com.zy.pojo.vo.SearchItemsVO" parameterType="java.util.Map">
        SELECT
        i.id AS itemId,
        i.item_name AS itemName,
        i.sell_counts AS sellCounts,
        ii.url AS imgUrl,
        tempSpec.price_discount AS price
        FROM
        items AS i
        LEFT JOIN items_img AS ii ON i.id = ii.item_id
        LEFT JOIN ( SELECT item_id, min( price_discount ) AS price_discount FROM items_spec GROUP BY item_id ) AS
        tempSpec ON i.id = tempSpec.item_id
        WHERE
        ii.is_main = 1
        <if test="keyWords != null and keyWords!=''">
            AND i.item_name like CONCAT('%',#{keyWords},'%')
        </if>
        ORDER BY
        /*
        k:默认排序 根据name
        c:根据销量排序
        p:根据价格排序
        */
        <choose>
            <when test="sort == &quot;c&quot;">
                i.sell_counts DESC
            </when>

            <when test="sort == &quot;p&quot;">
                tempSpec.price_discount ASC
            </when>
            <otherwise>
                i.item_name ASC
            </otherwise>
        </choose>
    </select>


    <select id="searchItemsByThirdCat" resultType="com.zy.pojo.vo.SearchItemsVO" parameterType="java.util.Map">
        SELECT
        i.id AS itemId,
        i.item_name AS itemName,
        i.sell_counts AS sellCounts,
        ii.url AS imgUrl,
        tempSpec.price_discount AS price
        FROM
        items AS i
        LEFT JOIN items_img AS ii ON i.id = ii.item_id
        LEFT JOIN ( SELECT item_id, min( price_discount ) AS price_discount FROM items_spec GROUP BY item_id ) AS
        tempSpec ON i.id = tempSpec.item_id
        WHERE
        ii.is_main = 1
        AND i.cat_id =#{catId}
        ORDER BY
        /*
        k:默认排序 根据name
        c:根据销量排序
        p:根据价格排序
        */
        <choose>
            <when test="sort == &quot;c&quot;">
                i.sell_counts DESC
            </when>

            <when test="sort == &quot;p&quot;">
                tempSpec.price_discount ASC
            </when>
            <otherwise>
                i.item_name ASC
            </otherwise>
        </choose>
    </select>

    <insert id="insertItems" parameterType="com.zy.pojo.Items">
        insert into items(
                        item_name,
                        cat_id,
                        root_cat_id,
                        sell_counts,
                        on_off_status,
                        content,
                        created_time,
                        updated_time)
        values(
                     #{itemName},
                     #{catId},
                     #{rootCatId},
                     #{sellCounts},
                     #{onOffStatus},
                     #{content},
                     #{createdTime},
                    #{updatedTime})
    </insert>

    <update id="updateItems" parameterType="com.zy.pojo.Items">
        update items
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="itemName != null and itemName!=''">
                            item_name=#{itemName},
                        </if>
                        <if test="catId != null and catId!=''">
                            cat_id=#{catId},
                        </if>
                        <if test="rootCatId != null and rootCatId!=''">
                            root_cat_id=#{rootCatId},
                        </if>
                        <if test="sellCounts != null and sellCounts!=''">
                            sell_counts=#{sellCounts},
                        </if>
                        <if test="onOffStatus != null and onOffStatus!=''">
                            on_off_status=#{onOffStatus},
                        </if>
                        <if test="content != null and content!=''">
                            content=#{content},
                        </if>
                        <if test="createdTime != null and createdTime!=''">
                            created_time=#{createdTime},
                        </if>
                        <if test="updatedTime != null and updatedTime!=''">
                            updated_time=#{updatedTime}
                        </if>
        </trim>
    </update>
</mapper>