<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.OrderStatusMapper">

    <select id="getOrderStatusById" resultType="com.zy.pojo.OrderStatus">
        select
                order_id as orderId,
                order_status as orderStatus,
                created_time as createdTime,
                pay_time as payTime,
                deliver_time as deliverTime,
                success_time as successTime,
                close_time as closeTime,
                comment_time as commentTime
        from order_status
        <trim prefix="where" prefixOverrides="and | or">
            <if test="orderId != null">
                and order_id=#{orderId}
            </if>
        </trim>
    </select>

    <select id="getOrderStatusListByMap" resultType="com.zy.pojo.OrderStatus" parameterType="java.util.Map">
        select
                order_id as orderId,
                order_status as orderStatus,
                created_time as createdTime,
                pay_time as payTime,
                deliver_time as deliverTime,
                success_time as successTime,
                close_time as closeTime,
                comment_time as commentTime
        from order_status
        <trim prefix="where" prefixOverrides="and | or">
                <if test="orderId != null and orderId!=''">
                    and order_id=#{orderId}
                </if>
                <if test="orderStatus != null and orderStatus!=''">
                    and order_status=#{orderStatus}
                </if>
                <if test="createdTime != null and createdTime!=''">
                    and created_time=#{createdTime}
                </if>
                <if test="payTime != null and payTime!=''">
                    and pay_time=#{payTime}
                </if>
                <if test="deliverTime != null and deliverTime!=''">
                    and deliver_time=#{deliverTime}
                </if>
                <if test="successTime != null and successTime!=''">
                    and success_time=#{successTime}
                </if>
                <if test="closeTime != null and closeTime!=''">
                    and close_time=#{closeTime}
                </if>
                <if test="commentTime != null and commentTime!=''">
                    and comment_time=#{commentTime}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getOrderStatusCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from order_status
        <trim prefix="where" prefixOverrides="and | or">
                <if test="orderId != null and orderId!=''">
                    and order_id=#{orderId}
                </if>
                <if test="orderStatus != null and orderStatus!=''">
                    and order_status=#{orderStatus}
                </if>
                <if test="createdTime != null and createdTime!=''">
                    and created_time=#{createdTime}
                </if>
                <if test="payTime != null and payTime!=''">
                    and pay_time=#{payTime}
                </if>
                <if test="deliverTime != null and deliverTime!=''">
                    and deliver_time=#{deliverTime}
                </if>
                <if test="successTime != null and successTime!=''">
                    and success_time=#{successTime}
                </if>
                <if test="closeTime != null and closeTime!=''">
                    and close_time=#{closeTime}
                </if>
                <if test="commentTime != null and commentTime!=''">
                    and comment_time=#{commentTime}
                </if>
        </trim>
    </select>

    <insert id="insertOrderStatus" parameterType="com.zy.pojo.OrderStatus">
        insert into order_status(
                        order_id,
                        order_status,
                        created_time,
                        pay_time,
                        deliver_time,
                        success_time,
                        close_time,
                        comment_time)
        values(
                     #{orderId},
                     #{orderStatus},
                     #{createdTime},
                     #{payTime},
                     #{deliverTime},
                     #{successTime},
                     #{closeTime},
                    #{commentTime})
    </insert>

    <update id="updateOrderStatus" parameterType="com.zy.pojo.OrderStatus">
        update order_status
        <trim prefix="set" suffixOverrides="," suffix="where order_id=#{orderId}">
                        <if test="orderStatus != null and orderStatus!=''">
                            order_status=#{orderStatus},
                        </if>
                        <if test="createdTime != null">
                            created_time=#{createdTime},
                        </if>
                        <if test="payTime != null">
                            pay_time=#{payTime},
                        </if>
                        <if test="deliverTime != null">
                            deliver_time=#{deliverTime},
                        </if>
                        <if test="successTime != null">
                            success_time=#{successTime},
                        </if>
                        <if test="closeTime != null">
                            close_time=#{closeTime},
                        </if>
                        <if test="commentTime != null">
                            comment_time=#{commentTime}
                        </if>
        </trim>
    </update>
</mapper>